{% extends "base.html" %}

{% block title %}
 About Us 
 {% endblock %}
 
 {% block content %}

<div class="container">
  <!-- Message Alerts -->
  {% if messages %}
  <div id="message-container" class="text-center">
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Main Content -->
  <div class="text-center mt-5 mb-5">
    <img
      class="img-main img-fluid"
      src="/static/images/logo.webp"
      alt="Tech Corner Logo"
    />
    <h1 class="display-4">Welcome to Tech Corner</h1>
    <p class="lead mb-5 mt-5">
      <em> Discover and share the latest in technology with us!</em>
    </p>

    <!-- Authentication Links -->
    {% if not user.is_authenticated %}
    <a
      href="{% url 'account_signup' %}"
      class="btn btn-outline-light btn-lg mx-4 mt-4"
      >Sign Up</a
    >
    <a
      href="{% url 'account_login' %}"
      class="btn btn-outline-light btn-lg mx-4 mt-4"
      >Sign In</a
    >
    {% endif %}
  </div>

  <!-- About and Features Sections -->
  <div class="row">
    <div class="col-md-6 my-4">
      <h2 class="mb-3">About Tech Corner:</h2>
      <p>
        Tech Corner is a community blog and news site for technology enthusiasts
        to share and engage with the latest tech news. Join us to post your
        insights, comment on discussions, and connect with a network of tech
        enthusiasts.
      </p>
    </div>
    <div class="col-md-6 my-4">
      <h2 class="mb-3">Features<i class="px-3 fa-solid fa-check"></i></h2>
      <ul class="list-unstyled">
        <li>
          <strong>Create Posts:</strong> Share insights, start discussions, or
          seek advice.
        </li>
        <li>
          <strong>View Profiles:</strong> Connect with tech enthusiasts by
          exploring their profiles.
        </li>
        <li>
          <strong>Engage with Content:</strong> Foster discussion by commenting
          and interacting with posts.
        </li>
        <li>
          <strong>Update Your Profile:</strong> Personalize your profile to
          reflect your tech interests.
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
