{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container-image">
    <form method="post"
          enctype="multipart/form-data">
      {% csrf_token %}

      <div class="image-wrapper"
           onclick="document.getElementById('image-upload').click()">
        <img src="{% static 'images/upload.png' %}"
             alt="Upload"
             class="upload-icon"
             id="preview-image" />
        <div class="placeholder-text">
          Click to upload an image
        </div>
      </div>

      <input type="file"
             id="image-upload"
             accept="image/*"
             class="d-none"
             onchange="previewImage(event)" />
      <div class="form-group my-3">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>

      <div class="form-group mb-3">
        {{ form.body.label_tag }}
        {{ form.body }}
      </div>

      <div class="d-flex justify-content-center my-4">
        <button type="submit"
                class="btn btn-outline-success">
          Submit
        </button>
        <a class="btn btn-outline-warning mx-4"
           href="{% url 'index' %}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock extra_js %}
