{% extends "base.html" %}

{% load static %}

{% block title %}
  Home
{% endblock title %}

{% block content %}

  <div class="container">
    <!-- Checks if there are any messages to display -->
    {% if messages %}
      <div id="message-container"
           class="text-center">
        <!-- Loops through each message and displays it -->
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
               role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close">
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center right-bck">
        <div class="registration-right">
          <div class="row justify-content-evenly mb-5">
            <div class="col-4">
              <a class="btn btn-outline-light btn-sm"
                 href="{% url 'index' %}">Latest Posts</a>
            </div>
            <div class="col-4">
              <a class="btn btn-outline-light btn-sm"
                 href="{% url 'create_post' %}">New Post<i class="fa-solid fa-plus px-2"></i></a>
            </div>
          </div>
          <div class="event-list">
            <!-- Loops through each post in the posts queryset -->
            {% for post in posts %}
              <div class="card flex-row mb-3 custom-card">
                <!-- Checks if the user has a profile image -->
                {% if post.author.profile.profile_image %}
                  <a href="{% url 'view_profile' post.author.username %}">
                    <img class="rounded-circle card-img-left img-post"
                         src="{{ post.author.profile.profile_image.url }}"
                         alt="{{ post.title }}" />
                  {% else %}
                  </a>
                  <a href="{% url 'view_profile' post.author.username %}">
                    <img class="rounded-circle card-img-left img-post"
                         src="{% static 'images/nobody.webp' %}"
                         alt="{{ post.title }}" />
                  {% endif %}
                  <div class="text-center">
                    <em>
                      {{ post.author }}
                    </em>
                  </div>
                </a>
                <div class="card-body">
                  <h4>
                    {{ post.title }}
                  </h4>
                  <p>
                    {{ post.body|truncatechars:70 }}
                  </p>
                  <p class="card-text mb-4">
                    {{ post.excerpt|truncatechars:70 }}
                  </p>
                  <a href="{% url 'post_detail' post.slug %}"
                     class="btn btn-sm btn-outline-light">Go to post<i class="fa-solid fa-angle-right mx-2"></i></a>
                </div>
              </div>
            {% endfor %}
            <!-- Pagination list -->
            {% if is_paginated %}
              <div class="text-center mt-5 mb-5">
                <!-- Previous list arrow -->
                {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}"
                     class="btn btn-outline-light fa-solid fa-angle-left mx-4">
                  </a>
                {% endif %}
                <!-- Next list arrow -->
                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}"
                     class="btn btn-outline-light fa-solid fa-angle-right mx-4">
                  </a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
