{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}

  <div class="container">
    {% if messages %}
      <div id="message-container"
           class="text-center">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
               role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close">
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center right-bck">
        <div class="registration-right post-detail-view">
          <div class="card flex-row custom-card mb-4">
            <div class="d-flex flex-column align-items-center">
              {% if post.author == user %}
                <a href="{% url 'profile_page' %}">
                {% else %}
                  <a href="{% url 'view_profile' post.author.username %}">
                  {% endif %}
                  <img class="rounded-circle card-img-left img-post-page mb-2"
                       src="{% if post.author.profile.profile_image %}{{ post.author.profile.profile_image.url }}{% else %}{% static 'images/nobody.webp' %}{% endif %}"
                       alt="{{ post.title }}" />
                </a>
              </a>
              <p class="text-center mb-0">
                <strong>{{ post.author }}</strong>
              </p>
            </div>
            <div class="card-body">
              <h1 class="text-center mb-4">
                {{ post.title }}
              </h1>
              {% if post.image %}
                <img src="{{ post.image.url }}"
                     alt="{{ post.title }}"
                     class="img-fluid mb-4 img-post-content" />
              {% endif %}
              <p class="mb-4">
                {{ post.body }}
              </p>
              <p class="text-white text-opacity-50 text-end mb-2">
                {{ post.short_date }}
              </p>
              {% if request.user == post.author %}
                <div class="d-flex justify-content-end my-2">
                  <a href="{% url 'edit_post' post.id %}"
                     class="btn btn-outline-warning text-white fa-solid fa-pen-to-square fa-sm p-3"></a>
                  <a href="{% url 'delete_post' post.id %}"
                     class="btn btn-outline-danger text-white fa-solid fa-trash fa-sm p-3 ms-4"></a>
                </div>
              {% endif %}
            </div>
          </div>
          <!--Comments-->
          <div class="event-list">
            <div class="flex-row">
              <div class="mt-1 mb-5 text-center">
                {% if user.is_authenticated %}
                  <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit"
                            class="btn btn-outline-success btn-sm">
                      Submit
                    </button>
                  </form>
                {% else %}
                  <div class="border border-warning-subtle rounded p-2">
                    <p>
                      You need to be signed in to post a comment.
                    </p>
                    <a href="{% url 'account_login' %}"
                       class="btn btn-outline-light btn-sm">Sign In</a>
                  </div>
                {% endif %}
              </div>
              {% for comment in comments %}
                <div class="card flex-row mb-1 custom-card">
                  {% if comment.author.profile.profile_image %}
                    {% if comment.author == user %}
                      <a href="{% url 'profile_page' %}">
                      {% else %}
                        <a href="{% url 'view_profile' comment.author.username %}">
                        {% endif %}
                        <img class="rounded-circle img-post-comment card-img-left"
                             src="{{ comment.author.profile.profile_image.url }}"
                             alt="{{ comment.author.username }}" />

                      {% else %}
                      </a>
                    </a>
                    {% if comment.author == user %}
                      <a href="{% url 'profile_page' %}">
                      {% else %}
                        <a href="{% url 'view_profile' comment.author.username %}">
                        {% endif %}
                        <img class="rounded-circle img-post-comment card-img-left"
                             src="{% static 'images/nobody.webp' %}"
                             alt="Placeholder Image" />
                      </a>
                    {% endif %}
                    <div class="text-center">
                      <em>
                        {{ comment.author }}
                      </em>
                    </div>
                  </a>
                  <div class="card-body border border-black rounded mx-2 mb-5 p-1">
                    <p class="mx-2">
                      {{ comment.body }}
                    </p>
                    {% if request.user == comment.author %}
                      <div class="d-flex justify-content-end mt-auto">
                        <a href="{% url 'delete_comment' comment.id %}"
                           class="btn btn-outline-danger text-white fa-solid fa-trash fa-sm p-3"></a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
