{% extends "base.html" %} {% block title %} {{ post.title }} {% endblock %} {% block content %}

<div class="container">
  <!-- Checks if there are any messages to display -->
  {% if messages %}
  <div id="message-container" class="text-center">
    <!-- Loops through each message and displays it -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center right-bck">
      <div class="registration-right post-detail-view">
        <div class="card flex-row custom-card mb-4">
          <!-- Checks if the user has a profile image -->
          {% if post.author.profile.profile_image %}
          <a href="{% url 'view_profile' post.author.username %}">
            <img
              class="rounded-circle card-img-left img-post-page"
              src="{{ post.author.profile.profile_image.url }}"
              alt="{{ post.title }}"
            />
          </a>
          {% else %}
          <a href="{% url 'view_profile' post.author.username %}">
            <img
              class="rounded-circle card-img-left img-post-page"
              src="/static/images/nobody.webp"
              alt="Placeholder Image"
            />
          </a>
          {% endif %}
          <div class="card-body">
            <h1 class="text-center">{{ post.title }}</h1>
            <p class="mb-3 mt-3">{{ post.body }}</p>
            <p class="text-light text-opacity-75 text-end">
              <strong>Written by {{ post.author }}</strong>
            </p>
            <p class="text-white text-opacity-25 text-end">
              Published on {{ post.date }}
            </p>
            <div class="d-flex justify-content-end mb-1">
              <a
                href="{% url 'edit_post' post.id %}"
                class="btn btn-outline-warning fa-solid fa-pen-to-square fa-sm px-1 py-2 mx-3"
              ></a>
              <a
                href="{% url 'delete_post' post.id %}"
                class="btn btn-outline-danger fa-solid fa-trash fa-sm px-1 py-2"
              ></a>
            </div>
          </div>
        </div>
        <!--Comments-->
        <div class="event-list">
          <div class="flex-row">
            <div class="mt-1 mb-5 text-center">
              <form method="post">
                {% csrf_token %} {{ comment_form }}
                <button type="submit" class="btn btn-outline-success btn-sm">
                  Submit
                </button>
              </form>
            </div>
            {% for comment in comments %}
            <div class="card flex-row mb-1 custom-card">
              <!-- Display the comment author's profile image -->
              {% if comment.author.profile.profile_image %}
              <a href="{% url 'view_profile' comment.author.username %}">
                <img
                  class="rounded-circle img-post-comment card-img-left"
                  src="{{ comment.author.profile.profile_image.url }}"
                  alt="{{ comment.author.username }}"
                />
                {% else %}
              </a>
              <a href="{% url 'view_profile' comment.author.username %}">
                <img
                  class="rounded-circle img-post-comment card-img-left"
                  src="/static/images/nobody.webp"
                  alt="Placeholder Image"
                />
                {% endif %}
                <div class="text-center"><em>{{ comment.author }}</em></div>
              </a>
              <!-- Body for Comment Text and Icons -->
              <div class="card-body border border-black rounded mx-2 mb-5 p-1">
                <p class="mx-2">{{ comment.body }}</p>
                <div class="d-flex justify-content-end mt-auto">
                  <a
                    href="{% url 'edit_post' post.id %}"
                    class="btn btn-outline-warning fa-solid fa-pen-to-square fa-sm px-1 py-2 mx-3"
                  ></a>
                  <a
                    href="{% url 'delete_post' post.id %}"
                    class="btn btn-outline-danger fa-solid fa-trash fa-sm px-1 py-2"
                  ></a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
