{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}

  <div class="container">
    <!-- Checks if there are any messages to display -->
    {% if messages %}
      <div id="message-container"
           class="text-center">
        <!-- Loops through each message and displays it -->
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
               role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close">
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="container">
    <img class="img-main img-fluid"
         src="{% static 'images/logo.webp' %}"
         alt="Logo" />
    <div class="text-center">
      <h3>
        {% trans "Sign In" %}
      </h3>
      <p class="pt-3">
        {% blocktrans %}Not created an account yet?
      <a href="{{ signup_url }}" class="d-block mt-3"><span class="btn btn-outline-success btn-sm mx-2 text-white">Sign up here</span></a>
      {% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="container d-flex justify-content-center pt-3">
    <div class="row">
      <form class="login"
            method="post"
            action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden"
                 name="{{ redirect_field_name }}"
                 value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-flex justify-content-center pt-3">
          <button class="btn btn-outline-light"
                  type="submit">
            {% trans "Sign In" %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
