{% extends "base.html" %}

{% load allauth i18n %}
{% load static %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}

  <div class="container">
    <img class="img-main img-fluid"
         src="{% static 'images/logo.webp' %}"
         alt="Logo" />
    <div class="row justify-content-center">
      <div class="col-lg-4 p-5">
        {% if messages %}
          <div id="message-container"
               class="text-center">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show d-flex align-items-center"
                   role="alert">
                <i class="fas fa-info-circle fa-2x me-3"></i>
                <div>
                  {{ message }}
                </div>
                <button type="button"
                        class="btn-close ms-auto"
                        data-bs-dismiss="alert"
                        aria-label="Close">
                </button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <h1>
          {% trans "Change Password" %}
        </h1>
        <div class="my-5 mb-5">
          {% url 'account_change_password' as action_url %}
          <form method="post"
                action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            {{ form.as_p }}
            <button type="submit"
                    class="btn btn-primary">
              {% trans "Change Password" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
