{% extends "base.html" %} {% load i18n %} {% load crispy_forms_filters %}
{% load crispy_forms_tags %} {% block head_title %} {% trans "Signup" %}
{% endblock %} {% block content %}
<div class="container">
  <!-- Checks if there are any messages to display -->
  {% if messages %}
  <div id="message-container" class="text-center">
    <!-- Loops through each message and displays it -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div class="container">
  <img class="img-main img-fluid" src="/static/images/logo.webp" />
  <div class="text-center">
    <h3>{% trans "Sign Up" %}</h3>
    <p class="pt-3">
      {% blocktrans %} Already have an account?
      <a class="text-link" href="{{ login_url }}">Sign in here</a>
    </p>
    {% endblocktrans %}
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="row">
    <form
      class="signup"
      id="signup_form"
      method="post"
      action="{% url 'account_signup' %}"
    >
      {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
      <div class="d-flex justify-content-center pt-3">
        <button class="btn btn-outline-light mb-5" type="submit">
          {% trans "Sign Up" %} &raquo;
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
