{% extends "base.html" %}

{% block title %}Delete Post{% endblock %}

{% block content %}
<div class="container">
  <!-- Checks if there are any messages to display -->
  {% if messages %}
    <div id="message-container" class="text-center">
      <!-- Loops through each message and displays it -->
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <!-- Warning alert message -->
  <div class="alert alert-danger alert-dismissible fade show" id="message-container" role="alert">
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <!-- Warning icon -->
        <i class="fas fa-exclamation-circle fa-2x"></i>
      </div>
      <div class="flex-grow-1 ms-3">
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">You cannot regret this choice!</p>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <img class="img-main img-fluid" src="/static/images/logo.webp" />
  <div class="text-center">
    <h2 class="mb-3">Are you sure you want to delete this post?</h2>
      <h4 class="mb-5 delete-user-post-title">{{ post.title }}</h4>
    <form method="POST" action="{% url 'delete_post' post.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger m-3 px-3">Yes, Delete</button>
      <a href="{% url 'user_posts' %}" class="m-3 btn btn-success px-4">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
