{% extends "base.html" %}

{% load allauth i18n %}
{% load static %}

{% block title %}
  Edit Profile
{% endblock title %}

{% url 'delete_account' as delete_account_url %}
{% url 'account_change_password' as change_password_url %}

{% block content %}
  <div class="container">
    <!-- Checks if there are any messages to display -->
    {% if messages %}
      <div id="message-container"
           class="text-center">
        <!-- Loops through each message and displays it -->
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
               role="alert">
            {{ message }}
            <!-- Displays the message text -->
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close">
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <form method="post"
              enctype="multipart/form-data"
              class="mb-5">
          {% csrf_token %}
          <div class="container-profile-edit mb-4"
               onclick="document.getElementById('image-upload').click()"
               aria-label="Upload or change image">
            {% if user_profile.profile_image %}
              <figure class="mb-0">
                <img src="{{ user_profile.profile_image.url }}"
                     alt="Profile preview"
                     class="img-fluid rounded-circle img-view-profile" />
                <div class="placeholder-img">
                  Change image
                </div>
              </figure>
            {% else %}
              <figure class="mb-0">
                <img src="{% static 'images/nobody.webp' %}"
                     alt="Upload"
                     class="img-fluid rounded-circle img-view-profile" />
                <div class="placeholder-img">
                  Upload image
                </div>
              </figure>
            {% endif %}
          </div>
          <input type="file"
                 name="profile_image"
                 id="image-upload"
                 accept="image/*"
                 class="d-none"
                 onchange="previewImage(event)" />
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <button type="submit"
                  class="btn btn-outline-light mt-4">
            Update Profile
          </button>
        </form>
        <!-- Link to change password -->
        <div class="text-center mb-5">
          <h2 class="mb-3">
            Change Password
          </h2>
          <a href="{% url 'account_change_password' %}"
             class="btn btn-outline-warning">Change Password</a>
        </div>
        <!-- Form for deleting account -->
        <div class="text-center">
          <h2 class="mb-3">
            Delete Account
          </h2>
          <form action="{% url 'delete_account' %}"
                method="get">
            {% csrf_token %}
            <button type="submit"
                    class="btn btn-outline-danger">
              Delete Account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock extra_js %}
