{% extends "base.html" %}
{% load allauth i18n %}
{% url 'account_change_password' as change_password_url %}

{% block content %}

<div class="container">
  <!-- Checks if there are any messages to display -->
  {% if messages %}
    <div id="message-container" class="text-center">
      <!-- Loops through each message and displays it -->
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }} <!-- Displays the message text -->
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <img class="img-main img-fluid" src="/static/images/logo.webp" />
  
  <div class="text-center">
    <h2>Edit Profile</h2>
    <!-- Form for editing profile with file upload capability -->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <button type="submit" class="btn btn-dark btn-lg mb-3 mt-3">Update</button>
    </form>
    <!-- Link to change password -->
    <h2 class="mt-3 mb-3">Change Password</h2>
    <a href="{% url 'account_change_password' %}" class="btn btn-warning">Change Password</a>
    <!-- Form for deleting account -->
    <form action="{% url 'delete_account' %}" method="GET">
      {% csrf_token %}
      <h2 class="mt-3 mb-3">Delete Account</h2>
      <button type="submit" class="btn btn-danger">Delete Account</button>
    </form>
  </div>
</div>

{% endblock %}
