{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="text-center">
    <div class="profile-info">
      {% if user_profile.profile_image %}
      <img
        class="rounded img-fluid img-view-profile"
        src="{{ user_profile.profile_image.url }}"
        alt="Profile Image"
      />
      {% else %}
      <img
        class="rounded img-fluid img-view-profile"
        src="/static/images/nobody.webp"
        alt="Placeholder Image"
      />
      {% endif %}
      <h3 class="mb-3">{{ request.user.username }}</h3>
      <div class="pt-3">
        <a href="{% url 'edit_profile' %}" class="mx-3">Edit Profile</a>
        <span>|</span>
        <a href="{% url 'user_posts' %}" class="mx-3">Your Posts</a>
      </div>
    </div>
    <div class="bio-form mt-4">
      <form method="post">
        {% csrf_token %}
        {{ bio_form.as_p }}
        <button type="submit" class="btn btn-dark">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
