{% extends "base.html" %}

{% load static %}

{% block title %}
  Profile Page
{% endblock title %}

{% block content %}
  <div class="container mt-5">
    {% if messages %}
      <div id="message-container"
           class="text-center mb-4">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
               role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close">
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 text-center">
        <div class="profile-header mb-5">
          {% if user_profile.profile_image %}
            <img class="rounded-circle img-fluid img-view-profile mb-3"
                 src="{{ user_profile.profile_image.url }}"
                 alt="Profile Image" />
          {% else %}
            <img class="rounded-circle img-fluid img-view-profile mb-3"
                 src="{% static 'images/nobody.webp' %}"
                 alt="Placeholder Image" />
          {% endif %}

          <h2 class="my-1">
            {{ request.user.username }}
          </h2>
          <p class="profile-detail my-1">
            {{ user.profile.first_name|default:"" }} {{ user.profile.last_name|default:"" }}
          </p>
          <p class="profile-detail my-1">
            {{ request.user.email|default:"" }}
          </p>
          <p class="profile-detail mt-1 mb-3">
            Favorite Tech: {{ user.profile.favorite_tech|default:"" }}
          </p>

          <p class="profile-detail mb-4">
            {{ user.profile.bio|default:"" }}
          </p>

          <div class="action-buttons my-3">
            <a href="{% url 'edit_profile' %}"
               class="btn btn-dark text-white me-2">Edit Profile</a>
            <a href="{% url 'user_posts' %}"
               class="btn btn-dark text-white">Your Posts</a>
          </div>
        </div>

        <div class="bio-form">
          <form method="post">
            {% csrf_token %}
            <div class="form-group mb-4">
              {{ bio_form.bio.label_tag }}
              {{ bio_form.bio }}
            </div>
            <button type="submit"
                    class="btn btn-outline-light">
              Update Bio
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
