{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ user.username }}
{% endblock title %}

{% block content %}

  <div class="container">
    <!-- Checks if there are any messages to display -->
    {% if messages %}
      <div id="message-container"
           class="text-center">
        <!-- Loops through each message and displays it -->
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
               role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close">
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="container">
    <div class="text-center">
      <div class="mt-5">
        <!-- Checks if the user has a profile image -->
        {% if user.profile.profile_image %}
          <img class="rounded img-view-profile"
               src="{{ user.profile.profile_image.url }}"
               alt="{{ user.username }}" />
        {% else %}
          <img class="rounded card-img-center img-view-profile"
               src="{% static 'images/nobody.webp' %}"
               alt="{{ user.username }}" />
        {% endif %}
        <h3 class="mb-3">
          {{ user.username }}
        </h3>
        <p class="profile-detail mb-0">
          {{ user.profile.first_name|default:"" }}
          {{ user.profile.last_name|default:"" }}
        </p>
        <p class="profile-detail mb-3">
          {{ user.email|default:"" }}
        </p>
        Favorite Tech:
        <p class="profile-detail">
          {{ user.profile.favorite_tech|default:"" }}
        </p>
        <div class="card custom-card user-bio">
          <p>
            {{ user.profile.bio|default:"" }}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
