/* Font family imported by Google Fonts */
/* Body */

body {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(0deg, #171515, #0c3736, #171515);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Links */
a {
  text-decoration: none;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.img-top {
  width: 45px;
}

.navbar-toggler:focus {
  box-shadow: none;
  border-color: #9b9a9a;
}

.navbar-toggler:focus {
  color: #9b9a9a;
}

.nav-link:hover {
  color: #9b9a9a;
}

nav {
  box-shadow: 0px 2px 0px #9b9a9a;
}

@media (max-width: 575px) {
  .navbar-toggler {
    margin-top: 12px;
  }
  nav {
    box-shadow: 0px 0px 0px;
  }
}
