/* Font family imported by Google Fonts */
/* Body */
body {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(0deg, #171515, #0c3736, #171515);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header */
header {
  background-color: #171515;
}

/* Links */
a {
  text-decoration: none;
  color: #ffffff;
}

.text-link {
  color: #9b9a9a;
  text-decoration: underline;
}

.profile-detail {
  color: #9b9a9a;
}

.fa-trash,
.fa-heart {
  color: #9b9a9a;
}

.fa-bars {
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #9b9a9a;
}

nav {
  box-shadow: 0px 2px 0px #9b9a9a;
}

.copyright {
  color: #9b9a9a;
}

.custom-card {
  background-color: transparent;
  border: none;
  color: white;
}

.errorlist,
.nonfield {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #f10000;
  border-radius: 7px;
  width: 16rem;
  background-color: #171515;
  padding: 1px;
}

/* User Bio */
.user-bio {
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}

/* Images */
.container-image {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Placeholder for image upload */
.placeholder-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(63, 62, 62, 0.7);
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 1rem;
  max-width: 90%;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Image wrapper */
.image-wrapper {
  max-width: 30rem;
  width: 100%;
  padding: 3rem;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s, box-shadow 0.3s 0.3s, opacity 0.3s;
  border-radius: 10px;
  position: relative;
  opacity: 0.7;
}

.image-wrapper img {
  max-width: 100%;
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.image-wrapper:hover {
  border-color: #fcfcfc;
  box-shadow: 0 0 15px 0 rgba(10, 10, 10, 0.5);
  opacity: 1;
}

/* Form control */
.form-control {
  width: 100%;
  border-radius: 5px;
  background-color: #495057;
  color: #f8f9fa;
  padding: 10px 15px;
  font-size: 1rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  background-color: #3a3f44;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.img-post {
  width: 125px;
  height: 125px;
  object-fit: cover;
  margin-top: 20px;
  border-style: solid;
  border-color: #171515;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.img-post-content {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img-nav-profile {
  width: 25px;
  height: 25px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img-post-page {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-top: 70px;
  border-style: solid;
  border-color: #171515;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img-view-profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-style: solid;
  border-color: #171515;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.img-main {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.img-top {
  width: 35px;
}

.img-post-comment {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-style: solid;
  border-color: #171515;
  transition: transform 0.3s ease;
}

.img-post:hover,
.img-post-page:hover,
.img-post-comment:hover {
  transform: scale(1.05);
}

.post-detail-view {
  max-width: 50%;
}

.comment-textarea {
  height: 80px;
  max-width: 100%;
  min-height: 80px;
}

/* Forms */
form {
  display: block;
  text-align: center;
}

.form-control {
  max-width: 30rem;
  width: 100%;
  background-color: transparent;
  border: 2px solid #ffffff4d;
  border-radius: 7px;
  color: #ffffff;
}

.form-control:focus {
  background-color: #ffffff1a;
  border-color: #ffffff99;
  box-shadow: 0 0 0 0.2rem #ffffff33;
  color: #ffffff;
}

.form-control::placeholder {
  color: #ffffff80;
}

textarea,
input,
select {
  background-color: transparent;
  border-style: solid 2px;
  border-radius: 7px;
  padding: 3px;
  border-color: #171515;
  color: #ffffff;
}

/* Credit: 
https://stackoverflow.com/questions/23719520/css-for-select-option-to-be-transparent-background
*/
select option {
  background-color: #171515;
}

/* List items */
li {
  list-style-type: none;
  padding: 5px;
  color: #9b9a9a;
}

/* Help Text */
.helptext {
  display: none;
}

/* IDs */
#id_comment,
#id_title,
#id_body,
#id_bio,
#id_oldpassword,
#id_password1,
#id_password2,
#id_login,
#id_password,
#id_username,
#id_email,
#id_first_name,
#id_last_name,
#id_favorite_tech {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#id_profile_image {
  margin-top: 20px;
  width: 12rem;
  color: #9b9a9a;
}

#message-container {
  position: fixed;
  top: 5px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

/* Media Queries */
@media (max-width: 1024px) {
  .post-detail-view {
    max-width: 80%;
  }
}

@media (max-width: 500px) {
  .navbar-toggler {
    margin-top: 12px;
  }

  nav {
    box-shadow: 0px 0px 0px;
  }

  .img-top {
    width: 30px;
  }

  .img-post {
    width: 70px;
    height: 70px;
  }

  .img-post-page {
    width: 60px;
    height: 60px;
    margin-top: 60px;
  }

  .img-main {
    width: 220px;
  }

  .img-view-profile {
    width: 120px;
    height: 120px;
  }

  .img-post-comment {
    width: 55px;
    height: 55px;
  }

  .card-body {
    max-width: 80%;
  }

  .comment-textarea {
    width: 80%;
  }
  .post-detail-view {
    max-width: 100%;
  }
}
