/* Font family imported by Google Fonts */
/* Body */
body {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(0deg, #171515, #0c3736, #171515);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header */
header {
  background-color: #171515;
}

/* Links */
a {
  text-decoration: none;
  color: #ffffff;
}

.text-link {
  color: #9b9a9a;
  text-decoration: underline;
}

.profile-detail {
  color: #9b9a9a;
}

.fa-trash,
.fa-heart {
  color: #9b9a9a;
}

.fa-bars {
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #9b9a9a;
}

nav {
  box-shadow: 0px 2px 0px #9b9a9a;
}

.copyright {
  color: #9b9a9a;
}

.custom-card {
  background-color: transparent;
  border: none;
  color: white;
}

.errorlist,
.nonfield {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #f10000;
  border-radius: 7px;
  width: 16rem;
  background-color: #171515;
  padding: 1px;
}

/* User Bio */
.user-bio {
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}

.container-profile-edit {
  max-width: 17rem;
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.container-profile-edit:hover {
  border-color: #ffffff99;
  box-shadow: 0 0 0 0.02rem #ffffff33;
  opacity: 1;
}

.container-profile-edit img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Images */
.container-image {
  max-width: 30rem;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.img-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Placeholder for image upload */
.placeholder-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(63, 62, 62, 0.7);
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 1rem;
  max-width: 90%;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.image-wrapper {
  width: 100%;
  height: 300px;
  border: 2px solid #ffffff4d;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.image-wrapper:hover {
  border-color: #ffffff99;
  box-shadow: 0 0 0 0.02rem #ffffff33;
  opacity: 1;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.upload-icon {
  width: 125px;
  height: 125px;
}

.img-post {
  width: 125px;
  height: 125px;
  object-fit: cover;
  margin-top: 20px;
  border-style: solid;
  border-color: #171515;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.post-view {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.img-post-content {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img-nav-profile {
  width: 25px;
  height: 25px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img-post-page {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-top: 80px;
  border-style: solid;
  border-color: #171515;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img-view-profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-style: solid;
  border-color: #171515;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.img-main {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.img-top {
  width: 35px;
}

.img-post-comment {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-style: solid;
  border-color: #171515;
  transition: transform 0.3s ease;
}

.img-post:hover,
.img-post-page:hover,
.img-post-comment:hover {
  transform: scale(1.05);
}

.post-detail-view {
  max-width: 100%;
  width: 700px;
  object-fit: cover;
}

.comment-textarea {
  height: 80px;
  width: 100%;
  min-height: 80px;
}

.placeholder-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.11);
  padding: 5px 10px;
  border-radius: 5px;
}

/* Forms */
form {
  display: block;
  text-align: center;
}

.form-control {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  color: #f8f9fa;
  padding: 10px 15px;
  font-size: 1rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  background-color: #3a3f4460;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  color: #f8f9fa;
}

.form-control::placeholder {
  color: #ffffff80;
}

textarea,
input,
select {
  width: 17rem;
  max-width: 100%;
  height: auto;
  background-color: transparent;
  border: 1px solid #ffffff80;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
}

textarea:focus,
input:focus,
select:focus {
  background-color: #3a3f4460;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  border-color: #ffffff;
  outline: none;
}

textarea::placeholder,
input::placeholder,
select::placeholder {
  color: #ffffff80;
}

/* Credit: 
https://stackoverflow.com/questions/23719520/css-for-select-option-to-be-transparent-background
*/
select option {
  background-color: #3a3f4460;
  color: #ffffff;
}
/* List items */
li {
  list-style-type: none;
  padding: 5px;
  color: #9b9a9a;
}

/* Help Text */
.helptext {
  display: none;
}

/* custom button */
.button-animation {
  padding: 0.4em 1.6em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-animation:before {
  content: '';
  background: linear-gradient(
    45deg,
    #171515,
    #0c3736,
    #495057,
    #3a3f44,
    #9b9a9a,
    #171515,
    #0c3736,
    #495057,
    #171515
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-animation 20s linear infinite;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-animation:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* IDs */
#id_comment,
#id_title,
#id_body,
#id_bio,
#id_oldpassword,
#id_password1,
#id_password2,
#id_login,
#id_password,
#id_username,
#id_email,
#id_first_name,
#id_last_name,
#id_favorite_tech {
  display: block;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
}

/* Hide specific label */
label[for='id_profile_image'] {
  display: none;
}

#id_profile_image {
  display: none;
}

#message-container {
  position: fixed;
  top: 5px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

/* Media Queries */
@media (max-width: 1024px) {
  .post-detail-view {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .navbar-toggler {
    margin-top: 12px;
  }

  nav {
    box-shadow: 0px 0px 0px;
  }

  .img-top {
    width: 30px;
  }

  .img-post {
    width: 70px;
    height: 70px;
  }

  .img-post-page {
    width: 50px;
    height: 50px;
  }

  .img-main {
    width: 220px;
  }

  .img-view-profile {
    width: 120px;
    height: 120px;
  }

  .img-post-comment {
    width: 45px;
    height: 45px;
  }

  .card-body {
    max-width: 100%;
  }

  .post-detail-view {
    max-width: 100%;
  }
}
