/* Font family imported by Google Fonts */
/* Body */
body {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(0deg, #171515, #0c3736, #171515);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header */
header {
  background-color: #171515;
}

/* Links */
a {
  text-decoration: none;
  color: #ffffff;
}

.text-link {
  color: #9b9a9a;
  text-decoration: underline;
}

.profile-detail {
  color: #9b9a9a;
}

.fa-trash,
.fa-heart {
  color: #9b9a9a;
}

.fa-bars {
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #9b9a9a;
}

nav {
  box-shadow: 0px 2px 0px #9b9a9a;
}

.copyright {
  color: #9b9a9a;
}

.custom-card {
  background-color: transparent;
  border: none;
  color: white;
}

.errorlist,
.nonfield {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #f10000;
  border-radius: 7px;
  width: 16rem;
  background-color: #171515;
  padding: 1px;
}

/* User Bio */
.user-bio {
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}

/* Images */
.img-post {
  width: 125px;
  height: 125px;
  margin-top: 20px;
  border-style: solid;
  border-color: #171515;
}

.img-post-page {
  width: 80px;
  height: 80px;
  margin-top: 70px;
  border-style: solid;
  border-color: #171515;
}

.img-view-profile {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #171515;
}

.img-main {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.img-top {
  width: 35px;
}

.img-post-comment {
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: #171515;
}

.post-detail-view {
  max-width: 50%;
}

.comment-textarea {
  height: 80px;
  max-width: 100%;
  min-height: 80px;
}

/* Forms */
form {
  display: block;
  text-align: center;
}

textarea,
input,
select {
  background-color: transparent;
  border-style: solid 2px;
  border-radius: 7px;
  padding: 3px;
  border-color: #171515;
  color: #ffffff;
}

/* Credit: 
https://stackoverflow.com/questions/23719520/css-for-select-option-to-be-transparent-background
*/
select option {
  background-color: #171515;
}

/* List items */
li {
  list-style-type: none;
  padding: 5px;
  color: #9b9a9a;
}

/* Help Text */
.helptext {
  display: none;
}

/* IDs */
#id_comment,
#id_title,
#id_body,
#id_bio,
#id_oldpassword,
#id_password1,
#id_password2,
#id_login,
#id_password,
#id_username,
#id_email,
#id_first_name,
#id_last_name,
#id_favorite_tech {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#id_profile_image {
  margin-top: 20px;
  width: 12rem;
  color: #9b9a9a;
}

#message-container {
  position: fixed;
  top: 5px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

/* Media Queries */
@media (max-width: 1024px) {
  .post-detail-view {
    max-width: 80%;
  }
}

@media (max-width: 500px) {
  .navbar-toggler {
    margin-top: 12px;
  }

  nav {
    box-shadow: 0px 0px 0px;
  }

  .img-top {
    width: 30px;
  }

  .img-post {
    width: 70px;
    height: 70px;
  }

  .img-post-page {
    width: 60px;
    height: 60px;
    margin-top: 60px;
  }

  .img-main {
    width: 220px;
  }

  .img-view-profile {
    width: 120px;
    height: 120px;
  }

  .img-post-comment {
    width: 55px;
    height: 55px;
  }

  .card-body {
    max-width: 80%;
  }

  .comment-textarea {
    width: 80%;
  }
  .post-detail-view {
    max-width: 100%;
  }
}
